/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import 'katex/dist/katex.min.css';

/* Açık Tema: Kahverengi & Açık Mavi */
:root {
  --ifm-color-primary: #8b5e3c;
  --ifm-color-primary-dark: #7a5134;
  --ifm-color-primary-darker: #69452d;
  --ifm-color-primary-darkest: #583926;
  --ifm-color-primary-light: #a06e49;
  --ifm-color-primary-lighter: #b37e57;
  --ifm-color-primary-lightest: #c68f65;

  --ifm-footer-background-color: #8b5e3c;
  --ifm-footer-color: #e0f1f9;
  --ifm-footer-link-color: #90c6e0;
  --ifm-footer-link-hover-color: #ffffff;

  --ifm-background-color: #fffaf5; 
  --ifm-font-family-base: 'Segoe UI', sans-serif;
  --ifm-heading-font-family: 'Georgia', serif;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.05);
  --ifm-code-background: #f6f1eb; 
}
